.gameContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  height: 350px;
  width: 300px;
}

.correct {
  animation: fade 1.5s forwards;
  font-size: 32px;
  position: absolute;
  top: 170px;
  left: 40px;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
