.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
}

.light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #333;
  transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.on {
  background-color: #4fc3f7;
  box-shadow: 0 0 25px #4fc3f7;
}